@* REFERENCIAR A MODEL JOGADOR *@
@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<h1>Tela de jogadores</h1>

@* CRIAR A TABELA *@
<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Equipe</th>
    </thead>

    <tbody>
@* TRAZER OS DADOS ARMAZENADOS NA MOCHILA *@
       @foreach (Jogador jogador in ViewBag.jogador)
        {
            <tr>
                <td>@jogador.IdJogador</td>
                <td>@jogador.Nome</td>
                <td>@jogador.Email</td>
                <td>
                    <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                </td>
            </tr>
        }

    </tbody>


</table>


